/* body {
  background-color: black;
}

img  {
  text-align: center;
  display: inline-block;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
}

.player {
  padding-left: 13%;
  font-size: 3.5rem;
}

.body-bg {
  background-color: #FF8C00;
  width: 70%;
  margin: auto;
  text-align: center;
}

.refresh {
  font-size: 4rem;
  color: #FF8C00;
  font-family: 'Allura', cursive;
  text-align: center;
  padding-right: 6%;
} */

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #FF8C00;
}

p {
  font-size: 2rem;
  color: #FF8C00;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
